ai_lead_qualifier_v3.json
{
  "name": "ai_lead_qualifier_v3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1184,
        64
      ],
      "id": "8fcca196-4b0b-4d19-8698-6911cf4485fa",
      "name": "Telegram Trigger",
      "webhookId": "a1245d33-d487-42db-80fa-c4fd0c12531c",
      "credentials": {
        "telegramApi": {
          "id": "yU5QUwz2mLVivF3J",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.message.text }}"
            },
            {
              "role": "system",
              "content": "Ты — система квалификации лидов для отдела продаж.\n\nПроанализируй входящую заявку и верни ТОЛЬКО валидный JSON без пояснений.\n\nСтруктура ответа:\n{\n  \"category\": \"hot\" | \"warm\" | \"cold\" | \"spam\",\n  \"reason\": \"одно предложение — почему такая категория\",\n  \"priority\": 1 | 2 | 3 | 4,\n  \"name\": \"имя клиента или Unknown\",\n  \"contact\": \"телефон/email или Unknown\"\n}\n\nПравила категорий:\n- hot: явный интерес + бюджет + срочность\n- warm: интерес есть, но нет срочности или бюджета\n- cold: общий интерес, нет конкретики\n- spam: нецелевое сообщение, реклама, не по теме\n\nПриоритет: hot=1, warm=2, cold=3, spam=4"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -976,
        64
      ],
      "id": "9db7f71d-b30b-4980-909f-2aead669577e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Z3KmzFXtRkNN3guV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fea3ffe-b020-4da5-8135-43586576ad01",
              "name": "category",
              "value": "={{ $json.output[0].content[0].text.category }}",
              "type": "string"
            },
            {
              "id": "90814521-d9a7-48fa-ab8a-73a25ee37ee5",
              "name": "reason",
              "value": "={{ $json.output[0].content[0].text.reason }}",
              "type": "string"
            },
            {
              "id": "c0dfdfce-52fa-474e-b2fe-43ca54f5e6af",
              "name": "priority",
              "value": "={{ $json.output[0].content[0].text.priority }}",
              "type": "string"
            },
            {
              "id": "c07f9568-9533-4eba-a874-186c3dfa04ca",
              "name": "name",
              "value": "={{ $json.output[0].content[0].text.name }}",
              "type": "string"
            },
            {
              "id": "9042c8ef-329c-43ae-a526-2fe1e2d4a04c",
              "name": "contact",
              "value": "={{ $json.output[0].content[0].text.contact }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        64
      ],
      "id": "770d9add-4064-4354-a583-d3338375526f",
      "name": "Parse_lead",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2a089342-94cc-4617-9bdb-c5bdd0ac6b4c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22a8405a-f9ef-4747-bf1f-c53fb4f92f4d",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "warm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "670c3fe8-a9c3-411a-836a-aafa45acfc5a",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "cold",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cold"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "afe84eb4-bf0c-488c-b036-6993c6a9c255",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -256,
        32
      ],
      "id": "ec635b10-3838-4133-9455-6b07e330b556",
      "name": "Route_by_category"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        16
      ],
      "id": "ad882ca9-0c93-4147-9da6-e13888ff31c3",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Заявка принята!\n\nМы свяжемся с вами в ближайшее время.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        48
      ],
      "id": "f3dcaa0c-cebe-47bd-9515-9e4464c7ff09",
      "name": "Telegram_message",
      "webhookId": "897b6914-6ab2-4c1e-99da-165dbf8cd0d8",
      "credentials": {
        "telegramApi": {
          "id": "yU5QUwz2mLVivF3J",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EdoBw6DA8Z7ZS5GjUZjQC6Yhqlh7noskHEvxFt-A7n8",
          "mode": "list",
          "cachedResultName": "ai-lead-qualifier-logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EdoBw6DA8Z7ZS5GjUZjQC6Yhqlh7noskHEvxFt-A7n8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EdoBw6DA8Z7ZS5GjUZjQC6Yhqlh7noskHEvxFt-A7n8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "name": "={{ $json.name }}",
            "contact": "={{ $json.contact }}",
            "category": "={{ $json.category }}",
            "priority": "={{ $json.priority }}",
            "reason": "={{ $json.reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact",
              "displayName": "contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        64
      ],
      "id": "ba7b4408-53d7-450a-b93b-d46291c36213",
      "name": "Sheet_logs",
      "credentials": {
        "googleApi": {
          "id": "sXsHhiMSlHoNaa17",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🚫 *Нецелевое — Приоритет 4*\n\n💬 Причина: {{ $json.reason }}\n\nПропустить.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        368
      ],
      "id": "5d605de5-b608-47b3-ae94-d3d2ccf26e5b",
      "name": "Telegram_spam",
      "webhookId": "706e805e-075e-4067-b2f3-b42d0d136d43",
      "credentials": {
        "telegramApi": {
          "id": "yU5QUwz2mLVivF3J",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=❄️ *Холодный лид — Приоритет 3*\n\n👤 Имя: {{ $json.name }}\n📞 Контакт: {{ $json.contact }}\n💬 Причина: {{ $json.reason }}\n\nДобавить в базу для прогрева.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        192
      ],
      "id": "461bc3a0-ec97-4db6-9f75-8c1791a7b78c",
      "name": "Telegram_cold",
      "webhookId": "ce6af21a-4159-45b8-914b-7d6a17789a8a",
      "credentials": {
        "telegramApi": {
          "id": "yU5QUwz2mLVivF3J",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🌡 *Тёплый лид — Приоритет 2*\n\n👤 Имя: {{ $json.name }}\n📞 Контакт: {{ $json.contact }}\n💬 Причина: {{ $json.reason }}\n\nСвязаться в течение дня.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        32
      ],
      "id": "8e8c2ece-c4e6-41bc-8d91-d9580bd8fb52",
      "name": "Telegram_warm",
      "webhookId": "b682d33a-0791-4f44-86b9-977f80b1da6d",
      "credentials": {
        "telegramApi": {
          "id": "yU5QUwz2mLVivF3J",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🔥 *ГОРЯЧИЙ ЛИД — Приоритет 1*\n\n👤 Имя: {{ $json.name }}\n📞 Контакт: {{ $json.contact }}\n💬 Причина: {{ $json.reason }}\n\nНемедленно связаться!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -128
      ],
      "id": "228d1186-82f5-4362-8064-b4c80c4b21a2",
      "name": "Telegram_hot",
      "webhookId": "f2a699d0-659f-476c-b6a0-1f6ec84c17fe",
      "credentials": {
        "telegramApi": {
          "id": "yU5QUwz2mLVivF3J",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚠️ Ошибка в AI Lead Qualifier\n\nНе удалось обработать заявку.\nПроверь workflow в n8n.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        288
      ],
      "id": "22064b19-3124-492c-a41a-83a33dcc088d",
      "name": "Telegram_error",
      "webhookId": "0d894b38-c88a-4e39-a34b-9e0bdad719fb",
      "credentials": {
        "telegramApi": {
          "id": "yU5QUwz2mLVivF3J",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parse_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_lead": {
      "main": [
        [
          {
            "node": "Sheet_logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route_by_category": {
      "main": [
        [
          {
            "node": "Telegram_hot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram_warm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram_cold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram_spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Telegram_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet_logs": {
      "main": [
        [
          {
            "node": "Route_by_category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram_spam": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Telegram_cold": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Telegram_warm": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Telegram_hot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4c724825-6515-4f1c-88c7-91cf39d51248",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e47ed2702af3c14cb76140dc624f0bb3a3113f4a0906d602a2a3f30cee2a9364"
  },
  "id": "RBCetNI7g3o2EoOn",
  "tags": []
}